* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajuda a controlar melhor as larguras */
}

body {
    font-family: 'Arial', sans-serif; /* Corrigido: Agora as escritas mudam de fonte! */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c78420; /* Agora funciona porque o nome bate com o HTML */
}

main {
    flex: 1;
}

/* Ajustando o tamanho do cartão e garantindo que o conteúdo respeite esse tamanho */
.cartao {
    width: 260px;
    height: 200px;
}

.cartao-interno, .cartao-frente, .cartao-verso {
    width: 100%;
    height: 100%;
}

.cartao-imagem {
    width: 100%; /* Agora ela vai ocupar 100% dos 260px do cartão */
    height: auto;
}